*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  color: black;
  background-color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 20px;

  /*temp border*/
  border: 1px solid black;
}

button {
  /*for safair buttons*/
  color: inherit;
}